<div class="main">
	<div class="article">

		<h2>Website Disclaimer</h2>

		<p>The thefamilyclinic.com website is operated by The Hurricane Family Clinic. The information provided on thefamilyclinic.com is for general informational purposes only. None of the information provided on thefamilyclinic.com constitutes, directly or indirectly, the practice of medicine, the dispensing of medical services, a professional diagnosis or a treatment plan. The information on thefamilyclinic.com should not be considered complete nor should it be relied on to suggest a course of treatment for a particular individual. You should not rely on information provided on thefamilyclinic.com as a substitute for personal medical attention, diagnosis or hands-on treatment. You should never disregard medical advice or delay in seeking it because of something you have read on thefamilyclinic.com. If you have any health care related concerns, please call or see your physician or other qualified health care provider. Never discontinue treatment or medication without first consulting your physician, clinicians or therapists.</p>

<p>The Hurricane Family Clinic does not make any representations or warranties as to the opinions or other service data you may access, download or use as a result of the use of thefamilyclinic.com, nor does The Hurricane Family Clinic make any warranty that the content contained on thefamilyclinic.com satisfies government regulations requiring disclosure of information on prescription drug products.</p>
	</div>
</div>
