<div class="index_bar">
	<nav class="secondary">
		<ul>
			<li><a href="#">one</a></li>
			<li><a href="#">two</a></li>
			<li><a href="#">three</a></li>
			<li><a href="#">four</a></li>
		</ul>
	</nav>
	<div class="video">
		<iframe width="370" height="200" src="http://www.youtube.com/embed/mL5TXGqPrIw?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="info">info</div>
</div>

<div class="main">
	<div class="news">news</div>
	<div class="promo">
		<h1>StaticPages#index</h1>
		<p>Find me in app/views/static_pages/index.html.erb</p>
	</div>
</div>