<h2>Legal stuff</h2>
<p><%= link_to("Privacy Practice", static_pages_privacy_practice_path) %></p>
        <p><%= link_to("Privacy Policy", static_pages_privacy_policy_path) %></p>
        <p><%= link_to("Terms of Use", static_pages_terms_of_use_path) %></p>
        <p><%= link_to("Disclaimer", static_pages_disclaimer_path) %></p>