<div class="main">
	<div class="article">

		<h2>Notice of Privacy Practices</h2>

		<p>This notice describes how health information about you may be used and disclosed and how you can get access to this information.</p>

<p><i><b>Please review it carefully.</b></i></p>

<p>As a patient of The Hurricane Family Clinic, you are entitled to receive notice about our privacy practices and how we may use and disclose your personal health information in different circumstances. This notice explains how we may use and disclose your personal health information, the choices and rights you have about how your personal health information may be used and disclosed, and our obligations to protect the privacy of your personal health information.</p>

<p>The Hurricane Family Clinic provides medical, diagnostic and treatment services in clinics and hospitals throughout Utah. These services are provided in accordance with the standards of care adopted from time-to-time. To meet your health care needs, The Hurricane Family Clinic employees and contractors must share your health information with other health care providers, treatment facilities, insurance companies, research institutes and regulatory agencies.</p>

<p><b>Introduction</b></p>

<p>When you become a patient of The Hurricane Family Clinic you provide us with information about your health. Each time you visit us, another record of your visit and what was done is made. Your health record is the information that we use to plan your care, provide treatment and receive payment for our services. It is important for you to understand your health record contains personal health information that is protected by federal and state laws.</p>

<p><b>Our Responsibilities</b></p>

<p>The Hurricane Family Clinic is required to maintain the privacy of your personal health information and to provide you with a notice about our legal duties and privacy practices with respect to your personal health information. We are also required to accommodate reasonable requests you make to communicate personal health information by alternative means or at alternative locations. Any time we use or disclose your personal health information, we must follow the terms of this notice.</p>

<p><b>Uses and Disclosures for Treatment, Payment and Health Care Operations</b></p>
<p>How We Use And Disclose Your Protected Health Information.</p>

<p>After making a good faith effort to provide you with this notice, we may use your personal health information to provide you treatment, to obtain payment for your treatment and for our internal health care operations. We may use and disclose your personal health information for such purposes in the following ways:</p>

<p><b>For Treatment:</b> We may use and disclose your personal health information to plan, provide and coordinate your health care services. For example, we may share the results of our treatment with other physicians who have been responsible for your care for additional follow-up and treatment.</p>

<p><b>For Payment:</b> We may use and discloseyour personal health information to obtain payment for health care services we have provided to you. For example, we may need to send a copy of the visit note for proper payment to be determined by your insurance company.</p>

<p><b>For Health Care Operations:</b> We may use or disclose your protected health information for our health care operations. For example, we may use or disclose your personal health information to perform risk assessments and other administrative tasks to monitor the quality of care we provide.</p>

<p><b>Uses and Disclosures with Authorization</b></p>

<p>For uses and disclosures of your personal health information not involving treatment, payment or health care operations, we will receive your written authorization prior to using or disclosing any personal health information (unless we are required or permitted by law to use or disclose your information as set forth below). You have the right to revoke any authorization previously granted. If you have any questions about written authorizations, please contact our Medical Records Manager at (###) ###-####, who will provide you with the information you need to revoke your authorization.</p>

<p><b>Uses and Disclosures without Authorization</b></p>

<p>We may use and disclose your personal health information without obtaining your consent or authorization, in the following situations:</p>

<p><b>Business Associates:</b> There are some services we provide through contracts with our business associates. In such situations, we may disclose your personal health information to our business associates so they can perform the job we asked them to do. We require all business associates to appropriately safeguard your information, in accordance with applicable law.</p>

<p><b>Notification of Family or Close Friends:</b> We may use or disclose your personal health information to notify a family member, personal representative or another person responsible for your care, provided you have the opportunity to agree or object to the disclosure. If you are unable to agree or object, we may disclose this information as necessary if we determine that it is in your best interest based upon our professional judgment. In all cases, we will only disclose the health information that is directly relevant to that person’s or persons’ involvement with your health care.</p>

<p><b>Required by Law:</b> We may use or disclose your personal health information to the extent we are required by law to do so. The use or disclosure will be made in full compliance with the applicable law governing the disclosure. </p>

<p><b>Public Health Activities:</b> We may disclose your personal health information for public health activities to a public health authority authorized by law to collect or receive information for the purpose of controlling disease, injury or disability. We may also disclose your health information to a public authority authorized to receive reports of child abuse or neglect, or to report information about products or services under the jurisdiction of the United States Food and Drug Administration. Additionally, we may disclose your health information to a person who may have been exposed to a communicable disease or otherwise be at risk of contacting or spreading a disease and to your employer for certain workrelated illness or injuries as required by regulatory agencies.</p>

<p><b>Health Oversight Activities:</b> We may make disclosures of your personal health information to a health oversight agency charged with overseeing the health care industry. Disclosures will be made only for activities authorized by law. Judicial and Administrative Proceedings: We may disclose your personal health information in the course of any judicial or administrative hearing in response to an order of a court or administrative tribunal, or in response to a subpoena, discovery request or other lawful process where we receive satisfactory assurance that appropriate precautions have been taken. In all cases, we will take reasonable steps to protect the confidentiality of your health information.</p>

<p><b>Law Enforcement:</b> We may disclose your personal health information for a law enforcement purpose to law enforcement officials in compliance with and as limited by applicable law.</p>

<p><b>Marketing:</b> We may contact you for certain activities related to advising you about our organization.</p>

<p><b>Research:</b> We may use or disclose your personal health information without your authorization for research purposes when such research has been approved by an institutional review board that has reviewed the research to ensure the privacy of your personal health information, or as otherwise allowed by law.</p>

<p><b>Accreditation:</b> We may disclose your public health information for accreditation purposes.</p>

<p><b>Victims of Abuse, Neglect or Domestic Violence:</b> We may disclose personal health information about an individual whom we reasonably believe to be a victim of abuse, neglect or domestic violence to a government authority, including a social service or protective service agency authorized by law to receive reports of child abuse, neglect or domestic violence. Any such disclosures will be made in accordance with and limited to the requirements of the law.</p>

<p><b>Limited Government Functions:</b> We may disclose your personal health information to certain government agencies charged with special government functions, as limited by applicable law. For example, we may disclose your health information to authorized federal officials for the conduct of national security activities, as required by law.</p>

<p><b>Organ Procurement:</b> As allowed by law, we may disclose personal health information to organ procurement organizations for organ, eye or tissue donation purposes.</p>

<p><b>Coroners, Medical Examiners and Funeral Directors:</b> We may disclose personal health information to a coroner or medical examiner to identify a deceased person, determine a cause of death or for other duties as authorized by law. We may also disclose personal health information to funeral directors in accordance with applicable laws.</p>

<p><b>Health and Safety:</b> We may disclose your personal health information to prevent or lessen a serious threat to a person(s) or the public’s health
and safety. In all cases, disclosures will only be made in accordance with applicable law and standards of ethical conduct.</p>

<p><b>Workers Compensation:</b> We may disclose your personal health information in accordance with workers compensation laws.</p>

<p><b>Your Rights</b></p>

<p>You have the right to do the following:</p>

<p><b>Receive a Copy of this Notice.</b> Upon request, you have the right to receive a paper copy of this notice. A copy may be obtained by asking a receptionist at any one of our clinic locations.</p>

<p><b>Receive Further Information.</b> You have the right for additional information about our privacy practices, your privacy rights, or disagree about a decision we made about your personal health information, or if you believe that your privacy rights have been violated. The contact person will provide you with the information you need to file a complaint. Requests can be made in writing to:</p>

<p>[Address]</p>

<p><b>Inspect and Copy Your Health Information.</b> Upon written request, you have the right to access and obtain a copy of your health information maintained by us. Please contact our Medical Records department at the address noted above. (You may be charged a nominal fee for copies as allowed by law).</p>

<p><b>Amend Your Health Information.</b> You have the right to request in writing that we amend health information maintained in your health record. We will comply with your request in the event that we determine the information that would be amended is false, inaccurate or misleading. Requests can be made in writing to the Medical Records Manager’s address above.</p>

<p><b>Request Additional Restrictions on Uses and Disclosures of Your Health Information.</b> You have the right to request in writing that we place additional restrictions on how we use or disclose your personal health information. While we will consider any request for additional restrictions, we are not required to agree to your request. Requests can be made in writing to the Medical Records Manager’s address above.</p>

<p><b>Request an Accounting of Disclosures.</b> You have a right to request in writing an accounting of certain disclosures made by us of your personal health information. For each disclosure, the accounting will include the date the information was disclosed, to whom, the address of the person or entity that received the disclosure (if known), and a brief statement of the reason for the disclosure. Requests can be made in writing to the Medical Records Manager’s address above.</p>

<p><b>Request Confidentiality in Certain Communications.</b> You have the right to request to receive your health information by alternative means of  communication or at alternative locations. We will accommodate any such reasonable written request(s) made on your behalf. Requests can be made in writing to the Medical Records Manager’s address above.</p>

<p><b>Right to File a Complaint.</b> If you believe your privacy rights have been violated, you may file a complaint with us. To file a complaint, you must submit it in writing to the Privacy Officer via the Director of Clinical and Quality Services. Upon request, you will be provided with the information
needed to file your complaint. In addition to filing a complaint with us, you have the right to file a written complaint with the Office for Civil Rights of the United States Department of Health and Human Services. You will not be penalized or retaliated against for filing a complaint with us or
the Office for Civil Rights.</p>

<p><b>Changes to Notice</b></p>

<p>We reserve the right to change our privacy practices and to alter this notice according to those changes. In the event our notice changes, we will update your privacy notice upon your next visit or mail you a copy of our revised notice to the address you have supplied us if requested.</p>

<p><b>Privacy Officer</b></p>

<p>To contact our Privacy Officer, please address all requests to:<br/>
Director of Clinical and Quality Services<br/>
Attn: Administration<br/>
[Address]</p>
	</div>
</div>
