<div class="main">
	<div class="article">

		<h2>Our Providers</h2>

		<h3>Mel Carter, MD</h3>

    <div style="float:left;"><%= image_tag('Mel-Carter-MD-RGB.jpg', class: 'img-polaroid') %></div>

    <p>After finishing medical school, Dr. Carter moved to
Maryland to complete his internship and residency.  He started his practice of medicine in Hanford, California, but with both his family, and his wife’s family being from Utah, he soon packed up, and brought his family to Hurricane.</p>

    <p>In 1985, there was no medical clinic in Hurricane, so Dr. Carter set up, and started seeing patients that August.  Since then Hurricane Family Clinic has grown and served the communities of Eastern Washington County.</p>

    <p>“I had the chance to be a full time emergency room
    physician several years ago, but I really enjoy the life long friendships that I have developed with my patients,” said Dr. Carter.  “That is what family medicine is to me.”</p>

    <p>Dr. Carter also provides OB/GYN services.  “I am now
    delivering children of the children that I delivered when I first moved to Hurricane, and that is an honor to be a part of my patients lives in this great community.”</p>

    <div style="clear:both;">&nbsp;</div>
    <hr/>

    <h3>Walter Ogden, MD</h3>

    <div style="float:left;"><%= image_tag('Walter-Ogden-MD-RGB.jpg', class: 'img-polaroid') %></div>

    <p>Dr. Ogden has roots in Southern Utah, that may be why he came here to retire after spending almost 35 years as a
family physician in Southern California.  Dr. Ogden and his wife reared eight children while living in California.</p>

    <p>Dr. Ogden received his medical degree at the University of Missouri in 1973.  He then moved to California for his
    internship and residency in family medicine.  “I got my love for medicine from my father, who was a general practitioner, and I enjoy treating all ages and health problems,” says Dr. Ogden.</p>

    <p>After moving to Utah to retire, Dr. Ogden decided he missed being involved in health care, and so he now practices
    medicine at the Hurricane Family Clinic, and at the Volunteer Clinic in St. George.</p>

    <p>“I am glad to be here at Hurricane Family Clinic, and I look forward to being a part of this fine clinic for years to come.”</p>

    <div style="clear:both;">&nbsp;</div>
    <hr/>

    <h3>Philip Carter, PAC</h3>

    <div style="float:left;"><%= image_tag('Phil-Carter-RGB.jpg', class: 'img-polaroid') %></div>

    <p>Philip moved to Hurricane when he was eight years old.  He attended Hurricane High School, Dixie State College, and Souther Utah University.  Philip continued his education by graduating from Idaho State University—Pocatello as a physician assistant.</p>

    <p>He started his medical career in Beaver, Utah working in family practice clinic and the Beaver Hospital emergency room.  He then moved to Provo to work as the Wellness Director for Central Utah Clinic.  There he oversaw the wellness program for some 1,200 employees.</p>

    <p>Philip joined the Hurricane Family Clinic in August of 2012, and his practice has grown tremendously since.  “I love the Hurricane Valley.  It is my home. My wife, Natalie, and I are from here so it was a natural move to make,” said Philip.</p>

    <p>Philip and Natalie have five children, and a couple of pets.  “I am so happy to serve this community, surrounded by the family and friends I grew up with.”</p>

    <div style="clear:both;">&nbsp;</div>

	</div>
</div>
