<div class="main">
	<div class="article">

		<h2>Terms of Use</h2>
		<p>This document outlines the Terms and Conditions relating to your use of kokopelliinsurance.com. These Terms and Conditions are applicable to your use of this site regardless of how you accessed it. If you do not wish to be bound by these Terms and Conditions, please discontinue using and accessing this site immediately.</p>
		<p><b>Privacy Policy:</b></p>
		<p>To receive information about Kokopelli Insurance's Privacy Policy, please visit our Notice of Privacy Policy.</p>
		<p><b>Your use of this site</b></p>
		<p>You may not use this site to engage in any illegal activity. You may not use this site to engage in conduct which is defamatory, libelous, threatening or harassing or that infringes on a third party's intellectual property or other proprietary rights. In the event you engage in activity that is illegal, defamatory, libelous, threatening, or harassing, Kokopelli Insurance reserves the right to disclose any information you provide through the use of this site or applications to law enforcement authorities as deemed appropriate in the sole discretion of Kokopelli Insurance. You agree that any information you provide through this site will be truthful and accurate</p>
		<p><b>E-mails</b></p>
		<p>The Kokosurance.com e-mail system is a private e-mail system intended only for purposes authorized by Kokopelli Insurance. You are not authorized to send numerous unsolicited commercial e-mail messages to any e-mail addresses at @kokosurance.com. Kokopelli Insurance reserves the right to take actions as may be necessary to prevent misuse of its e-mail system.</p>
		<p><b>Disclaimer of Warranties</b></p>
		<p>Any information, services, materials, software, calculators or other items on this site are provided "as is" without any warranty of any kind, either expressed or implied, including without limitation the implied warranties of merchantability and fitness for a particular purpose. Under no circumstances will Kokopelli Insurance be liable for any damages whatsoever arising out of the use or performance of the information, services, materials, software, calculators or other items.</p>
		<p><b>Kokopelli Insurance Intellectual Property Rights</b></p>
		<p>The Kokopelli Insrunce logo, the terms "Kokopelli Insurance", "Kokosurance," "Koko," as well as all logos and graphics using the Kokopelli Insurance name are the intellectual property of and/or federally registered trademarks/servicemarks owned by Kokopelli Insurance. Intellectual property rights of third parties may apply where noted. Except where otherwise indicated, all materials on this site including but not limited to graphics, text, software, audio, video, and files, are the property of Kokopelli Insurance and are protected by copyright or other intellectual property laws.</p>
		<p>Kokopelli Insurance reserves all rights to its intellectual property. You may print out a single copy of pages on this site for your personal, non-commercial use provided that all copyright, trademark or other notices are retained. ALL OTHER USES ARE PROHIBITED.</p>
		<p>You are not authorized to use any portion of this site or any other Kokopelli Insurance intellectual property on any other site, in the meta-tags of any other site or in any other materials. You may not modify, publish, create derivative works, copy, distribute, or otherwise use any of this site's content or frame this site within any other site.</p>
		<p><b>Links to/from other sites</b></p>
		<p>For your convenience, Kokopelli Insurance may provide links to other Internet sites. You should not interpret any link to/from other sites as indicating that Kokopelli Insurance sponsors or endorses the sites or their materials. Kokopelli Insurance is not responsible for anything contained on such sites and makes no warranties or representations about the contents, products or services offered on such sites.</p>
		<p><b>Secure Areas</b></p>
		<p>Some portions of this site are restricted and require authorization for access. Unauthorized use of or access to these areas is prohibited. Actual or attempted unauthorized use of or access to such areas may result in criminal and/or civil prosecution. Attempts to access such areas without authorization may be viewed, monitored and recorded and any information obtained may be given to law enforcement organizations in connection with any investigation or prosecution of possible criminal activity on this system. If you are not an authorized user of such areas or do not consent to continued monitoring, you should not attempt to access such areas.</p>
		<p><b>Availability of products and services</b></p>
		<p>Kokopelli Insurance is licensed to do business in the State of Utah, with our office located at 4 S. 2600 W., Hurricane, Utah 84737.</p>
		<p>1-435-817-4214 or 855-KOKO-NOW</p>
		<p>Investment return and principal value will fluctuate and your shares, when redeemed, may be worth more or less than their original cost.</p>
		<p><b>Other agreements</b></p>
		<p>These "Terms and Conditions" apply to your use of this site and do not change or alter any other contract or agreement between you and Kokopelli Insurance.</p>
		<p>Terms of Use updated December 2, 2013</p>
    
	</div>
</div>
