<div class="main">
	<div class="article">

		<h2>Website Terms of Use</h2>

		<p>Use of this site signifies your agreement to the Terms of Use. This site is presented for information only and is not intended to substitute for professional medical or dental advice. You should contact a physician or dentist before acting on any information contained within this Web site. Use of this site is subject to a Disclaimer.</p>

    <p>All Web site designs, text, graphics, and the selection and arrangement thereof are copyrighted by their respective providers and may be downloaded and/or reprinted for personal, noncommercial use only. Permission to reprint or electronically reproduce any document or graphic in whole or in part for any reason is expressly prohibited, unless written consent is obtained from the respective copyright holder(s). You may not alter or remove any trademark, copyright, or other notice from copies of the content.</p>
    
	</div>
</div>
