<div class="main">
	<div class="article">

		<h2>Our Values</h2>

        <h3>1. We are customer service.</h3>

        <p>We know that you have a lot of choices when it comes to choosing an insurance company, and we know that we are not entitled to your business.  We believe 100% that we must not only earn your business, but must work hard to maintain your business.  Hopefully we can show you a little “wow” when it comes to our service.  We are not an average company, our clients are not average, our people are not average, and our service is anything but average.</p>

        <h3>2. We look for relationships.</h3>

        <p>More important to us than just finding clients, we strive to build strong, lasting relationships.  See when you are in a relationship, trust is a keystone.  Also when you are in a trusting relationship, you just naturally want to be loyal and act with integrity.  Best of all, long term relationships turn into life long friendships.</p>

        <h3>3. We comunicate, comunicate, comunicate.</h3>

        <p>It's important to be a good listener as well as a good communicator. Open, honest communication is the best foundation for any relationship.  We strive to stay in touch with our clients by contacting them multiple times a year.  We also commit to returning calls and other communications as quickly as possible.  We will always try to go the extra mile in encouraging thorough, open, complete, honest, and effective communication.</p>

        <h3>4. We put fun back into insurance.</h3>

        <p>Lets face it, people hate insurance until they need it.  We will put the fun back into insurance by focusing solely on the client’s needs, and then wowing them with the experience.  We aren’t one of those big insurance companies that feels corporate and boring. We want to be able to laugh at ourselves. We look for both fun and humor in our daily work.</p>

        <h3>5.  We are more than a company.  We are family.</h3>

        <p>We create an environment that is friendly, warm, and exciting. We encourage diversity in ideas, opinions, and points of view.  We are more than just a team.  We are a family. We watch out for each other, care for each other, and go above and beyond for each other because we believe in each other and we trust each other. We work together, but we also play together. Our bonds go far beyond the typical "co-worker" relationships.</p>

        <h3>6.  We have passion.</h3>

        <p>Passion is having a strong feeling of enthusiasm for something.  We have passion, not for insurance, but for solving our clients problems.  The thing about passion is that it is contagious. People like being around those that have passion, because it inspires others to have the same attitude.  We love to share our passion.</p>

        <h3>7.  We are humble.</h3>

        <p>No matter how much we know.  No matter how much we help.  No matter how much we do.  We can always do more, learn more, help more.</p>

    <div style="clear:both;">&nbsp;</div>

	</div>
</div>
