<div class="main">
  <div class="article">

    <h1>Listing all articles</h1>

    <% @articles.each do |article| %>
      <h2><%= link_to(article.title, article_path(article.id)) %><%= " <i>(hidden)</i>".html_safe if article.visible == "false" or not article.visible %></h2>
      <%= "#{article.body}".html_safe %>
    <% end %>

  </div>
</div>
