<div class="main">
  <div class="article">

    <%= "<p class=\"notice\">#{flash[:notice]}</p>".html_safe if flash[:notice] %>
    <%= "<p class=\"error\">#{flash[:error]}</p>".html_safe if flash[:error] %>

    
    
  </div>
</div>
