<div class="main">
	<div class="article">

		<h2>Mission Statement</h2>

		<p><%= image_tag('compass.jpg', class: 'pull-left', width: 200) %></p>

		<p style="margin-left:220px;font-size:2em;line-height:1.2;">Kokopelli Insurance is committed becoming the undisputed marketplace leader by bringing the finest financial products to our clients, and by having a relentless focus on excellent customer service.</p>

		<div style="clear:both;">&nbsp;</div>

	</div>
</div>
