<div class="main">
	<div class="article">

    <h2>Website Privacy Policy</h2>

		<p>Kokopelli Insurance recognizes the importance in keeping our client’s trust, so keeping our client’s personal information confidential is a top priority. This notice explains our privacy policies.</p>
		<p>We safeguard, according to strict standards of security and confidentiality, nonpublic, personal information our clients share with us. "Nonpublic, personal information" includes your name, address, Social Security number and credit information. We maintain safeguards, physical and electronic, to protect this information. We conduct our business in a manner that keeps our client’s personal information secure.</p>
		<p>We limit the collection and use of client information to the minimum we require to service and govern our business. We collect personal information about clients from the following sources: </p>
		<ul>
			<li>From clients on insurance applications, other applications, and related forms;</li>
			<li>From your transactions with us, our affiliates, other insurance companies,  or others;</li>
			<li>From consumer reporting agencies, governmental agencies; and</li>
			<li>From your transactions with non-affiliated third parties.</li>
		</ul>
		<p>It is our policy that only authorized Kokopelli Insurance employees, agents and their staff who need to know your personal information will access and use it, or those affiliated with other companies required to process your business with us. Those who violate our privacy policies are subject to a disciplinary process.</p>
		<p>It is our policy not to share personal information on current and former customers outside Kokopelli Insurance, our affiliates, or other insurance compaies, for any purpose other than the underwriting or administration of a client’s policy/account, or for marketing additional Kokopelli Insurance products, unless the disclosure has been authorized by the client or is permitted or required by law.</p>
		<p>Whenever we retain other organizations to provide support services on behalf of Kokopelli Insurance, we require them to protect customers’ personal information.</p>
		<p>To update your personal information, please contact your agent or our office.</p>
		<p>When necessary, we review and revise our privacy policies to protect personal customer information.</p>
		<p>Updated December 2, 2013.</p>
	</div>
</div>
