/* Google fonts imports */

@import url(http://fonts.googleapis.com/css?family=Rambla);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set default values from reset */

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

/* site-wide CSS */

html {
	font-family: "Titillium Web", sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/* header CSS */

.header_bar1 {
	height: 103px;
}

.logo {
	height: 103px;
	width: 250px;
	float: left;
	background-color: #ABF;
}

nav.primary {
	height: 103px;
	width: 710px;
	margin-left: 250px;
	background-color: #ABE;
}

.header_bar2 {
	height: 180px;
}

.banner {
	height: 180px;
	width: 630px;
	float: left;
	background-color: #ABD;
}

.welcome {
	height: 180px;
	width: 330px;
	margin-left: 630px;
	background-color: #ABC;
}

/* index_bar CSS */

.index_bar {
	height: 210px;
}

nav.secondary {
	height: 200px;
	width: 300px;
	margin: 5px 0;
	float: left;
	background-color: #ABB;
}

.video {
	height: 200px;
	width: 370px;
	margin: 5px;
	float: left;
	background-color: #ABA;
}

.info {
	height: 200px;
	width: 280px;
	margin: 5px 0;
	float: right;
	background-color: #AB9;
}

/* main CSS */

.news {
	min-height: 500px;
	width: 300px;
	float: left;
	background-color: #AB8;
}

.promo {
	min-height: 500px;
	margin-left: 305px;
	background-color: #AB7;
}

.article {
	background-color: #AB7;
	margin-top: 5px;
}

/* footer CSS */

footer {
	margin-top: 5px;
}

.footer_box {
	height: 237px;
	width: 237px;
	float: left;
	background-color: #AB6;
	margin-right: 4px;
}

.footer_box:last-child {
	float: none;
	margin-left: 723px;
	margin-right: 0;
}