// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

body {
  background-color: #A69A76;
}

h2 {
  font-size: 150%;
}

.container {
  background-color: white;
}

.container-padding {
  padding: 10px 20px;
}

.logo-margin {
  margin-top: 10px;
}

a {
  color: #A71A13;
}

a:hover {
  color: #FBBF13;
}

.nav {
  margin-top: 10px;
}

.centered {
  text-align: center;
}

.centered p {
  font-size: 3em;
  margin-top: 30px;
  font-family: "Didact Gothic";
}

.social-bar {
  padding: 5px;
  background-color: #666;
  color: white;
}

.social-bar p {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.footer {
  margin-top: 25px;
}

.footer .span2 div {
  border-right: 1px solid #EEE;
  height: 215px;
  font-size: 80%;
}

.footer .span2 b {
  font-size: 140%;
}

.footer .span2:last-child div {
  border-right: none;
  height: 215px;
}

.justify {
  text-align: justify;
}

.border-right {
  border-right: 1px solid #EEE;
  padding-right: 20px;
}

.border-left {
  border-left: 1px solid #EEE;
  padding-left: 20px;
}

.article-title {
  font-size: 1.2em;
  line-height: 1;
}

.article-body, .article-body p {
  font-size: 0.9em;
  line-height: 1.3;
}

.article h3 {
  font-size: 120%;
  color: #A71A13;
}

.btn a {
  color: white;
}

.aform input, .aform textarea {
  width: 800px;
}

.radio {
  border: 40px solid blue;
}

.contact_box {
  background-color: #666  ;
  color: white;
  float: right;
  padding: 20px;
  width: 266px;
  height: 260px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #FBBF13;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FBBF13;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FBBF13;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FBBF13;
}

.caret {
  border-top-color: #A71A13 !important;
  border-bottom-color: #A71A13 !important;
}

li:hover .caret {
  border-top-color: #FBBF13 !important;
  border-bottom-color: #FBBF13 !important;
}

.img-polaroid {
  margin-right: 20px;
}

.contact h3 {
  border-bottom: 1px solid black;
}

.learning {
  padding: 10px;
  background-color: #666;
  color: white;
}

footer {
  margin: 20px 0;
  text-align: center;
  font-size: 80%;
}

.social-table {
  padding-top: 20px;
}

.social-button {
  float: left;
  margin-right: 10px;
}

.linkedin {
  margin-left: -30px;
}

.bio {
  background-color: #CCC;
  border: 1px solid black;
  padding: 15px;
  margin-top: 10px;
}

.user_table td, .user_table th {
  padding: 5px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #A71A13;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}