/* Google fonts imports */

@import url(http://fonts.googleapis.com/css?family=Rambla);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* default HTML4 CSS */

html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }

BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
  h1            { page-break-before: always }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid }
  ul, ol, dl    { page-break-before: avoid }
}
/* site-wide CSS */

html, body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #DACCBF;
	margin: 0;
	padding: 0;
}

.container {
	width: 960px;
	margin: 0 auto;
	background-color: #DACCBF;
}

h1, h2 {
	margin-top: 0;
}

.error {
	padding: 10px;
	background-color: #FFBDBD;
	border: 1px solid #C40000;
	color: #C40000;
}

.notice {
	padding: 10px;
	background-color: #ABFFB5;
	border: 1px solid #00A814;
	color: #00A814;
}

/* header CSS */

.header_bar1 {
	height: 103px;
}

.logo {
	height: 103px;
	width: 250px;
	float: left;
}

.logo img {
	margin-top: 0;
}

nav.primary {
	height: 103px;
	width: 710px;
	margin-left: 250px;
	margin-top: 0;
	background-color: #FFF;
}

nav.primary ul {
	margin-top: 0;
}

.header_bar2 {
	height: 270px;
}

.banner {
	height: 270px;
	width: 630px;
	float: left;
	background-color: #FFF;
}

.welcome {
	height: 270px;
	width: 330px;
	margin-left: 630px;
	background-color: #FFF;
}

.welcome p {
	margin-top: 0;
}

/* index_bar CSS */

.index_bar {
	height: 210px;
}

nav.secondary {
	height: 200px;
	width: 300px;
	margin: 5px 0;
	float: left;
	background-color: #FFF;
}

.video {
	height: 200px;
	width: 370px;
	margin: 5px;
	float: left;
	background-color: #FFF;
}

.info {
	height: 200px;
	width: 280px;
	margin: 5px 0;
	float: right;
	background-color: #FFF;
}

/* main CSS */

.news {
	height: 500px;
	width: 300px;
	float: left;
	background-color: #FFF;
}

.promo {
	height: 500px;
	margin-left: 305px;
	background-color: #FFF;
}

.promo p {
	margin-top: 0;
}

.article {
	margin-top: 5px;
	padding: 10px;
	background-color: #FFF;
}

/* footer CSS */

footer {
	margin-top: 5px;
	font-size: .85em;
}

footer p {
	margin-top: 0;
}

.footer_box {
	height: 237px;
	width: 237px;
	float: left;
	margin-right: 4px;
	background-color: #FFF;
}

.footer_box:last-child {
	float: none;
	margin-left: 723px;
	margin-right: 0;
}
